<footer>
      <div class='social'>
        <a href='https://www.linkedin.com/in/aulia-hakiem-89750086/'>
          <img src='/images/linkedin.svg'/></a>
        <a href='https://www.facebook.com/aulia.hakiem.n'>
          <img src='/images/facebook.svg'/></a>
        <a href='https://www.twitter.com/hakiemaul'>
          <img src='/images/twitter.svg'/></a>
      </div>
      <h5>copyright &copy; 2017 by hakiemaul</h5>
</footer>